@tailwind base;
@tailwind components;
@tailwind utilities;


.cross-border {
  --s: 50px; /* the size on the corner */
  padding: 20px; /* the gap between the border and image */
  border: 8px solid rgb(59 130 246); /* the thickness and color */
  -webkit-mask:
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
  mask: conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
    0 0/calc(100% - var(--s)) calc(100% - var(--s)),
    linear-gradient(#000 0 0) content-box;
}
