@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Oziksoft';
    src: url('/fonts/OzikSoft/OZIKSoft-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Oziksoft';
    src: url('/fonts/OzikSoft/OZIKSoft-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Oziksoft';
    src: url('/fonts/OzikSoft/OZIKSoft-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Oziksoft';
    src: url('/fonts/OzikSoft/OZIKSoft-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

.oziksoft {
    font-family: 'Oziksoft'
}

@font-face {
    font-family: 'PangramSans';
    src: url('/fonts/PangramSans/PPPangramSansRounded-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSans';
    src: url('/fonts/PangramSans/PPPangramSansRounded-Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'PangramSans';
    src: url('/fonts/PangramSans/PPPangramSansRounded-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

.pangram-sans {
    font-family: 'PangramSans'
}


@keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slide-out {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-slide-in {
    animation: slide-in 0.5s ease-out forwards;
  }

  .animate-slide-out {
    animation: slide-out 0.5s ease-in forwards;
  }
